## 3 -> Feature Engineering

### Reading Data

In [15]:
import pandas as pd

cleaned_df = pd.read_csv('../data/processed/cleaned_data.csv')

### Adding Features

In [16]:
cleaned_df['TotalAmount'] = cleaned_df['Quantity'] * cleaned_df['UnitPrice']

In [17]:
cleaned_df['InvoiceDate'] = pd.to_datetime(cleaned_df['InvoiceDate'])
cleaned_df['Year'] = cleaned_df['InvoiceDate'].dt.year
cleaned_df['Month'] = cleaned_df['InvoiceDate'].dt.month
cleaned_df['DayOfWeek'] = cleaned_df['InvoiceDate'].dt.dayofweek
cleaned_df['HourOfDay'] = cleaned_df['InvoiceDate'].dt.hour
cleaned_df['TimeOfDay'] = pd.cut(cleaned_df['HourOfDay'],
                         bins=[0, 6, 12, 18, 24],
                         labels=['Night', 'Morning', 'Afternoon', 'Evening'])

In [18]:
cleaned_df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount,Year,Month,DayOfWeek,HourOfDay,TimeOfDay
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2010,12,2,8,Morning
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,2,8,Morning
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,2010,12,2,8,Morning
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,2,8,Morning
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,2,8,Morning

### Exporting Data

In [19]:
cleaned_df.to_csv('../data/processed/feature_engineered.csv', index=False)